@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", "Helvetica", "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
  letter-spacing: 0.02em;
  color: #666;
  position: relative;
  box-sizing: border-box;
  outline: none;
  transition: all 0.2s; }

html, body {
  width: 100%;
  height: 100%;
  background-image: url("img/white_wall_hash.png"); }

#cover {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: white;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
  vertical-align: middle;
  line-height: 100%; }
  #cover p {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(0, 0, 0, 0.8);
    font-family: Helvetica;
    font-size: small; }

#social-icons {
  display: grid;
  grid-template-columns: 1fr 1fr; }
  #social-icons .social-icon {
    width: 28px;
    height: 28px;
    margin: 4px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; }
    #social-icons .social-icon .fb {
      background-image: url("../../assets/img/social_icon_fb.png"); }
    #social-icons .social-icon .tw {
      background-image: url("../../assets/img/social_icon_tw.png"); }

#container {
  margin: 0 auto;
  width: 90%;
  max-width: 800px; }

#icon-block {
  margin-top: 24px; }
  #icon-block a {
    text-decoration: none; }
  #icon-block #icon-home {
    text-indent: 30px;
    background-image: url(../../assets/img/icon_home.svg);
    background-position: 0% center;
    background-size: 24px;
    background-repeat: no-repeat; }

#title-block {
  margin-top: 24px;
  padding-left: 12px;
  padding-bottom: 4px;
  border-left: 7px solid #d64;
  margin-bottom: 36px; }
  #title-block h1 {
    font-size: 1.6em;
    color: #333;
    line-height: 36px;
    margin-bottom: 12px; }
  #title-block h4 {
    color: #999; }

#description-block p {
  line-height: 2em;
  text-indent: 1em;
  margin-bottom: 1em; }
#description-block .more, #description-block .less {
  color: #359; }
  #description-block .more:hover, #description-block .less:hover {
    cursor: pointer; }
#description-block .detail {
  display: none; }
  #description-block .detail.show {
    display: block; }

#notes-block p, #notes-block a {
  font-size: 0.9em;
  color: #999;
  line-height: 1.7em; }

#content-block {
  margin: 0 auto;
  margin-top: 24px;
  width: 100%;
  height: 1260px;
  overflow-x: auto; }

#countries-wrapper {
  padding: 0 100px 0 100px;
  min-width: 700px; }

#countries {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; }

.country {
  width: 100%; }
  .country .flag {
    width: 100%;
    height: 100px;
    background-size: 70%;
    background-position: center center;
    background-repeat: no-repeat; }
  .country .cname {
    font-size: x-small;
    color: #999 !important;
    text-align: center;
    margin-bottom: -24px; }
  .country .disnumber {
    font-size: x-small;
    color: #aaa !important;
    text-align: center;
    margin-bottom: 12px; }
  .country .disnumber span {
    margin: 0 2px;
    font-size: small;
    color: #888 !important; }
  .country .avgperiod {
    font-size: small;
    color: #888 !important;
    text-align: center;
    margin-bottom: 24px; }
  .country .timeline {
    height: 1000px; }
    .country .timeline .bone {
      position: absolute;
      width: 4px;
      height: 100%;
      left: calc((100% - 4px) / 2);
      border-radius: 20px;
      border: 1px solid #ccc;
      opacity: 0.3;
      background-color: #aaa; }
    .country .timeline .election {
      position: absolute;
      left: calc((100% - 20px) / 2);
      margin-top: -5px;
      width: 20px;
      height: 20px;
      border-radius: 40px;
      border: 2px solid rgba(0, 0, 0, 0);
      background-image: url("img/white_wall_hash.png"); }
      .country .timeline .election .inner {
        top: 2px;
        left: 2px;
        width: 12px;
        height: 12px;
        border-radius: 40px;
        background-color: rgba(0, 0, 0, 0.25); }
      .country .timeline .election.dissolution {
        border: 2px solid #D06A3B; }
        .country .timeline .election.dissolution .inner {
          background-color: #D06A3B; }
      .country .timeline .election.censure {
        border: 2px solid #208DC3; }
        .country .timeline .election.censure .inner {
          background-color: #208DC3; }
      .country .timeline .election.hovered {
        margin-top: -13px;
        left: calc((100% - 36px) / 2);
        width: 36px;
        height: 36px;
        z-index: 10; }
        .country .timeline .election.hovered .inner {
          top: 4px;
          left: 4px;
          width: 24px;
          height: 24px; }

#years {
  position: absolute;
  width: calc(100% + 80px);
  margin-left: -40px;
  padding-top: 160px;
  height: calc(100% - 100px); }
  #years .year {
    font-size: small; }
  #years .line {
    height: 1px;
    border-bottom: 1px dotted #ccc; }

.tooltip {
  z-index: 10;
  position: absolute;
  font-size: small;
  width: 240px;
  height: 64px;
  margin-left: calc((240px * -0.5) + 16px);
  margin-top: 20px;
  background-color: #999;
  color: #fcfcfc !important;
  padding: 12px 24px;
  border-radius: 8px;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  line-height: 1.6em; }
  .tooltip :before {
    position: absolute;
    content: '';
    border-top: 12px solid #999;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    top: -9px;
    left: calc(50% - 12px);
    transform: rotateX(180deg); }

#footer-block {
  height: 160px;
  padding-top: 60px;
  font-size: small;
  text-align: center; }

/*# sourceMappingURL=style.css.map */
