@charset "UTF-8";
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 400;
  src: url(../../assets/fonts/NotoSansJP/NotoSansJP-Regular.woff2) format("woff2"), url(../../assets/fonts/NotoSansJP/NotoSansJP-Regular.woff) format("woff"), url(../../assets/fonts/NotoSansJP/NotoSansJP-Regular.otf) format("opentype");
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Helvetica Neue", "Helvetica", "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, YuGothic, Arial, "Noto Sans Japanese", "メイリオ", Meiryo, sans-serif;
  font-weight: normal;
  color: #666;
  letter-spacing: 0.03em;
}

body {
  width: 100%;
  line-height: 1.8em;
  background-color: #fdfdfd;
}

#cover {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 1000;
  display: none;
}

#container a {
  color: #37b;
  text-decoration: none;
}

#container #header-block, #container #title-block, #container #article-block {
  margin: 0 auto;
  width: calc(100% - 32px);
  max-width: 800px;
}

#container #header-block {
  margin-top: 24px;
}

#container #header-block a {
  text-decoration: none;
  line-height: 28px;
  vertical-align: top;
}

#container #title-block {
  margin-top: 24px;
  margin-bottom: 24px;
}

#container #title-block h1 {
  font-size: 1.3em;
  color: #333;
  margin-bottom: 8px;
}

#container #title-block .date {
  color: #aaa;
  font-size: 0.9em;
}

#container #iframe-block {
  width: 100%;
  height: 400px;
  background-color: #aaa;
  transition: none;
}

#container #iframe-block #button-close {
  position: fixed;
  top: 8px;
  right: 8px;
  width: 48px;
  height: 48px;
  border-radius: 24px;
  background-color: #fefefe;
  border: 1px solid #ccc;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
  background-image: url("../../assets/img/icon-close.svg");
  background-size: 80%;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  display: none;
}

#container #iframe-block.fullscreen {
  z-index: 100;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#container #iframe-block.fullscreen #button-close {
  display: block;
}

#container p.fullscreen {
  text-align: center;
  margin-top: 8px;
  margin-bottom: 16px;
  font-size: 0.9em;
}

#container p.fullscreen a {
  cursor: pointer;
}

#container #article-block p {
  margin-bottom: 1em;
}

#container #legend {
  z-index: 1000;
  bottom: 16px;
  left: 16px;
  font-size: 0.9em;
  background-color: rgba(255, 255, 255, 0.7);
  width: 220px;
  padding: 8px 0;
  margin: 0 auto;
}

#container #legend .row {
  display: flex;
  flex-wrap: wrap;
}

#container #legend .row:nth-child(1) {
  height: calc((1 * 8px) + 16px);
  line-height: calc((1 * 8px) + 16px);
}

#container #legend .row:nth-child(1) .location {
  margin-top: calc((((1 * 8px) + 16px) - (8px * 1)) / 2) !important;
  margin-left: calc((60px - (8px * 1)) / 2) !important;
}

#container #legend .row:nth-child(2) {
  height: calc((2 * 8px) + 16px);
  line-height: calc((2 * 8px) + 16px);
}

#container #legend .row:nth-child(2) .location {
  margin-top: calc((((2 * 8px) + 16px) - (8px * 2)) / 2) !important;
  margin-left: calc((60px - (8px * 2)) / 2) !important;
}

#container #legend .row:nth-child(3) {
  height: calc((3 * 8px) + 16px);
  line-height: calc((3 * 8px) + 16px);
}

#container #legend .row:nth-child(3) .location {
  margin-top: calc((((3 * 8px) + 16px) - (8px * 3)) / 2) !important;
  margin-left: calc((60px - (8px * 3)) / 2) !important;
}

#container #legend .row:nth-child(4) {
  height: calc((4 * 8px) + 16px);
  line-height: calc((4 * 8px) + 16px);
}

#container #legend .row:nth-child(4) .location {
  margin-top: calc((((4 * 8px) + 16px) - (8px * 4)) / 2) !important;
  margin-left: calc((60px - (8px * 4)) / 2) !important;
}

#container #legend .row:nth-child(5) {
  height: calc((5 * 8px) + 16px);
  line-height: calc((5 * 8px) + 16px);
}

#container #legend .row:nth-child(5) .location {
  margin-top: calc((((5 * 8px) + 16px) - (8px * 5)) / 2) !important;
  margin-left: calc((60px - (8px * 5)) / 2) !important;
}

#container #legend .row .location {
  border: 1px solid #fdfdfd;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.8);
  z-index: 20 !important;
  margin: 0 auto !important;
  position: absolute;
}

#container #legend .row .location.k1 {
  width: 8px !important;
  height: 8px !important;
  border-radius: 4px;
  border: 2px solid #39b0ce;
  z-index: 50;
  background-color: rgba(255, 255, 255, 0.4);
}

#container #legend .row .location.k2 {
  width: 16px !important;
  height: 16px !important;
  border-radius: 8px;
  border: 2px solid #1daa53;
  z-index: 40;
  background-color: rgba(255, 255, 255, 0.4);
}

#container #legend .row .location.k3 {
  width: 24px !important;
  height: 24px !important;
  border-radius: 12px;
  border: 2px solid #c3c544;
  z-index: 30;
  background-color: rgba(255, 255, 255, 0.4);
}

#container #legend .row .location.k4 {
  width: 32px !important;
  height: 32px !important;
  border-radius: 16px;
  border: 2px solid #f7924e;
  z-index: 20;
  background-color: rgba(255, 255, 255, 0.4);
}

#container #legend .row .location.k5 {
  width: 40px !important;
  height: 40px !important;
  border-radius: 20px;
  border: 2px solid #b31818;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.4);
}

#container #legend .row .num {
  margin-left: 60px;
}

#container #social-block {
  display: flex;
  width: fit-content;
  margin: 48px auto 48px auto;
}

#container #social-block a {
  display: block;
  width: 50px;
  height: 50px;
  margin: 0 16px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

#container #social-block a.fbshare {
  background-image: url("../../assets/img/social_icon_fb.png");
}

#container #social-block a.twitter {
  background-image: url("../../assets/img/social_icon_tw.png");
}

#container #social-block a.gplus {
  background-image: url("../../assets/img/social-icon-gplus.svg");
  background-size: 85%;
}

@media screen and (min-width: 600px) {
  #container #iframe-block {
    height: 500px;
  }
  #container #legend {
    display: none;
  }
}

@media screen and (min-width: 900px) {
  #container #iframe-block {
    height: 600px;
  }
}
