* {
  color: rgba(255, 255, 255, 0.9);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal; }

body {
  background-color: #0a143c; }

#container {
  margin: 0 auto;
  width: 100%;
  max-width: 900px; }

#icon-block {
  margin: 0 auto;
  margin-top: 24px;
  width: calc(100% - 32px); }
  #icon-block a {
    text-decoration: none; }
  #icon-block #icon-home {
    text-indent: 30px;
    background-image: url(img/icon_home_white.svg);
    background-position: 0% center;
    background-size: 24px;
    background-repeat: no-repeat; }

#title-block {
  margin: 0 auto;
  width: calc(100% - 32px);
  margin-top: 24px; }
  #title-block h1 {
    font-size: 1.6em;
    color: rgba(255, 255, 255, 0.9); }
  #title-block h4 {
    line-height: 1.4em;
    margin-top: 8px;
    font-size: 1.0em;
    color: rgba(255, 255, 255, 0.7); }
  #title-block p {
    margin-top: 16px;
    font-size: 0.9em; }

#description-block {
  margin: 0 auto;
  margin-top: 36px;
  width: calc(100% - 32px); }
  #description-block p {
    color: #ccc;
    margin-bottom: 8px;
    font-size: 0.9em; }

#controls-block {
  margin: 0 auto;
  margin-top: 24px;
  width: calc(100% - 32px); }
  #controls-block select {
    margin: 8px 32px;
    width: calc(100% - 64px);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-size: 20px;
    background-position: calc(100% - 8px) 65%;
    background-repeat: no-repeat;
    background-image: url(img/arrow_down.svg);
    font-size: 1.0em;
    height: 26px;
    padding-left: 1px;
    border-radius: 0;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #888; }
    #controls-block select:hover {
      cursor: pointer; }

#canvas-block {
  margin: 0 auto;
  margin-top: 36px;
  margin-bottom: 36px;
  position: relative;
  width: 100%;
  max-width: 868px; }
  #canvas-block:before {
    content: "";
    display: block;
    padding-top: 57%; }
  #canvas-block canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  #canvas-block #canvas-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 20; }
    #canvas-block #canvas-cover p {
      color: #888;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: small;
      text-align: center; }

#tooltip {
  position: fixed;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  display: none;
  padding: 15px;
  background-color: #f0f0f0;
  border-radius: 5px;
  z-index: 60;
  min-width: 200px;
  max-width: 400px; }
  #tooltip * {
    color: #102030;
    font-size: 10pt;
    line-height: 15px; }
  #tooltip .title {
    font-weight: bold;
    margin-bottom: 8px; }
  #tooltip:before {
    content: "";
    display: block;
    position: absolute;
    height: 0;
    width: 0;
    border: 10px transparent solid;
    border-right-width: 0;
    border-left-color: #f0f0f0;
    z-index: 50;
    left: calc(50% - 6px);
    top: -13px;
    transform: rotate(270deg); }

/* Tablet */
@media screen and (min-width: 600px) {
  #title-block h1 {
    font-size: 2.0em; }
  #title-block h4 {
    font-size: 1.2em; }

  #description-block p {
    font-size: 1.0em; }

  #controls-block {
    margin-top: 32px; }
    #controls-block select {
      margin: 0;
      width: 240px; } }
/* PC */
@media screen and (min-width: 900px) {
  #title-block h1 {
    font-size: 2.0em; }
  #title-block h4 {
    font-size: 1.2em; }

  #description-block p {
    font-size: 0.9em; } }

/*# sourceMappingURL=style.css.map */
