@charset "UTF-8";
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
* {
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", "Helvetica", -apple-system, BlinkMacSystemFont, "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.9);
  font-weight: normal;
  position: relative;
  box-sizing: border-box;
  outline: none;
  transition: all 0.25s; }

body {
  width: 100%;
  padding-top: 16px;
  background-color: #fafafa;
  /* Thanks to: https://www.toptal.com/designers/subtlepatterns/white-wall-3/ */
  background-image: url("../img/background.png"); }
  body #container {
    margin: 0 auto;
    width: calc(100% - 32px);
    max-width: 800px; }
    body #container #header-block a {
      text-decoration: none;
      font-size: 0.8rem;
      line-height: 28px;
      vertical-align: top; }
    body #container .datasource {
      color: #aaa;
      font-size: 0.7rem;
      text-align: center; }
    body #container .viz-wrapper {
      width: 100vw;
      overflow-x: scroll;
      margin-left: calc((100% - 100vw) / 2); }
      body #container .viz-wrapper .viz-container {
        width: 200%;
        height: 320px; }
        body #container .viz-wrapper .viz-container .title {
          position: absolute;
          top: 8px;
          left: 8px;
          font-size: 0.9rem;
          text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); }
        body #container .viz-wrapper .viz-container .y-label {
          position: absolute;
          font-size: 0.8rem;
          color: #aaa;
          height: 20px;
          line-height: 20px;
          margin-top: -10px; }
          body #container .viz-wrapper .viz-container .y-label.l {
            right: calc(100% + 8px); }
          body #container .viz-wrapper .viz-container .y-label.r {
            left: calc(100% + 8px); }
          body #container .viz-wrapper .viz-container .y-label.s1 {
            top: 0%; }
          body #container .viz-wrapper .viz-container .y-label.s2 {
            top: 50%; }
          body #container .viz-wrapper .viz-container .y-label.s3 {
            top: 100%; }
          body #container .viz-wrapper .viz-container .y-label.unit {
            height: 10px;
            line-height: 10px;
            width: 160px;
            margin-top: 0;
            top: calc(100% + 4px); }
            body #container .viz-wrapper .viz-container .y-label.unit.l {
              left: 0; }
            body #container .viz-wrapper .viz-container .y-label.unit.r {
              right: 0;
              left: auto;
              text-align: right; }
          body #container .viz-wrapper .viz-container .y-label.p {
            left: 0;
            width: 100%;
            height: 0;
            margin-top: 0;
            border-top: 1px dotted #ccc; }
            body #container .viz-wrapper .viz-container .y-label.p.s1 {
              top: 25%; }
            body #container .viz-wrapper .viz-container .y-label.p.s2 {
              top: 50%; }
            body #container .viz-wrapper .viz-container .y-label.p.s3 {
              top: 75%; }
    body #container #title-block {
      padding: 8px 0; }
      body #container #title-block h1 {
        color: #fcfcfc;
        margin-bottom: 8px;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 2.2rem;
        letter-spacing: 0.06rem; }
      body #container #title-block h3 {
        color: #ccc;
        margin-bottom: 16px;
        font-size: 1.0rem;
        line-height: 1.6rem;
        letter-spacing: 0.06rem; }
      body #container #title-block hr {
        border: 1px solid rgba(255, 255, 255, 0.25); }
    body #container #bubble-chart {
      width: 220vw;
      height: 846px;
      margin-top: 8px;
      margin-bottom: 8px;
      opacity: 0; }
      body #container #bubble-chart.show {
        opacity: 1; }
      body #container #bubble-chart .row {
        height: 18px;
        display: flex; }
        body #container #bubble-chart .row .name {
          width: 90px;
          line-height: 18px;
          color: rgba(255, 255, 255, 0.8);
          font-size: 0.8rem;
          text-align: right;
          padding-right: 8px; }
          body #container #bubble-chart .row .name.r {
            text-align: left; }
        body #container #bubble-chart .row .values {
          width: calc(100% - 90px);
          display: flex; }
          body #container #bubble-chart .row .values ptv {
            position: absolute;
            border-radius: 50%;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
            transition: all ease 0.2s; }
            body #container #bubble-chart .row .values ptv.show {
              width: 36px !important;
              height: 36px !important;
              margin-top: -6px !important;
              margin-left: -6px !important;
              box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
              z-index: 100 !important; }
    body #container section {
      padding: 8px 0;
      margin-top: 24px; }
      body #container section p {
        font-family: 'Palatino', 'Times New Roman';
        font-size: 1.1rem;
        line-height: 1.8rem;
        font-weight: 400;
        margin-bottom: 24px;
        color: #fafafa; }
        body #container section p * {
          font-family: 'Palatino', 'Times New Roman';
          font-size: 1.1rem;
          color: rgba(255, 255, 255, 0.9); }
    body #container #description {
      position: fixed;
      width: calc(100% - 8px);
      bottom: -80px;
      left: 4px;
      z-index: 500;
      background-color: #fcfcfc;
      padding: 16px 8px;
      opacity: 0;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
      border-radius: 4px; }
      body #container #description .name {
        text-align: center;
        margin-bottom: 12px;
        color: #666; }
      body #container #description.show {
        opacity: 1;
        bottom: 4px; }
      body #container #description table {
        margin: 0 auto;
        border-spacing: 0; }
        body #container #description table thead tr th {
          border-bottom: 1px solid #ccc; }
        body #container #description table th, body #container #description table td {
          padding: 4px 8px;
          text-align: right; }
        body #container #description table th {
          color: #aaa;
          font-size: 0.8rem; }
          body #container #description table th.hasmark {
            padding-left: 28px; }
          body #container #description table th .ge, body #container #description table th .tr {
            position: absolute;
            top: 4.5px;
            left: 4px;
            width: 16px;
            height: 16px;
            border-radius: 8px; }
            body #container #description table th .ge.ge, body #container #description table th .tr.ge {
              background-color: #5DA1DD; }
            body #container #description table th .ge.tr, body #container #description table th .tr.tr {
              background-color: #EF9643; }
        body #container #description table td {
          color: #333; }
          body #container #description table td span.gray {
            margin-left: 4px;
            color: #aaa;
            font-size: 0.7rem; }
    body #container #gendergap {
      width: calc(100% - 120px);
      height: calc(100% - 20px);
      margin: 10px 60px 10px 60px;
      display: flex;
      background: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.3));
      border-radius: 2px;
      opacity: 0; }
      body #container #gendergap.show {
        opacity: 1; }
      body #container #gendergap .ggcol {
        height: 100%;
        width: calc(100% / 47); }
        body #container #gendergap .ggcol:hover {
          background-color: rgba(255, 255, 255, 0.3); }
          body #container #gendergap .ggcol:hover .m, body #container #gendergap .ggcol:hover .f {
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.8); }
        body #container #gendergap .ggcol .m, body #container #gendergap .ggcol .f {
          position: absolute;
          width: 8px;
          height: 8px;
          border-radius: 8px;
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
          margin-left: calc(50% - 4px);
          z-index: 4; }
        body #container #gendergap .ggcol .m {
          background-color: #20EA31; }
        body #container #gendergap .ggcol .f {
          background-color: #F4DB35; }
        body #container #gendergap .ggcol .l {
          position: absolute;
          width: 2px;
          height: 0;
          border-radius: 1px;
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
          margin-left: calc(50% - 1px);
          background-color: #aaa;
          z-index: 2; }
    body #container #resources {
      width: calc(100% - 120px);
      height: calc(100% - 20px);
      margin: 10px 60px 10px 60px;
      display: flex;
      background: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.3));
      border-radius: 2px;
      opacity: 0; }
      body #container #resources.show {
        opacity: 1; }
      body #container #resources .rscol {
        height: 100%;
        width: calc(100% / 18); }
        body #container #resources .rscol:hover {
          background-color: rgba(255, 255, 255, 0.2); }
        body #container #resources .rscol .bar {
          position: absolute;
          bottom: 0;
          left: 30%;
          width: 40%;
          height: 0;
          background-color: #5DA1DD;
          border-top-left-radius: 2px;
          border-top-right-radius: 2px; }
      body #container #resources #canvas {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        pointer-events: none; }
        body #container #resources #canvas canvas {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%; }

/* Tablet */
@media screen and (min-width: 600px) {
  body #container {
    width: calc(100% - 120px); }
    body #container .viz-wrapper {
      overflow-x: hidden; }
      body #container .viz-wrapper .viz-container {
        width: 100%;
        height: 370px; }
    body #container #title-block #title {
      font-size: 2rem; }
    body #container #title-block #subtitle {
      font-size: 1.5rem; }
    body #container #bubble-chart {
      width: 100%;
      height: 987px; }
      body #container #bubble-chart .name.r {
        display: none; }
      body #container #bubble-chart .row {
        height: 21px; }
        body #container #bubble-chart .row .name {
          line-height: 21px; }
    body #container #description {
      width: auto !important;
      bottom: -20px;
      right: 8px;
      left: auto; }
      body #container #description.show {
        bottom: 8px !important; } }
/* PC */
@media screen and (min-width: 900px) {
  body #container .viz-wrapper {
    width: 100%;
    margin-left: 0; }
    body #container .viz-wrapper .viz-container {
      height: 420px; }
  body #container #bubble-chart {
    height: 1128px; }
    body #container #bubble-chart .row {
      height: 24px; }
      body #container #bubble-chart .row .name {
        line-height: 24px; }
  body #container #title-block #title {
    font-size: 2.2rem; }
  body #container #title-block #subtitle {
    font-size: 1.4rem; }
  body #container #canvas-block {
    height: 450px; } }

/*# sourceMappingURL=style.css.map */
