/*---------------------------------------------------------------------------------
 * Base CSS
---------------------------------------------------------------------------------*/
.container {
  margin-top: 2em;
}


/*---------------------------------------------------------------------------------
 * Article
---------------------------------------------------------------------------------*/
.article-title {
  font-size: x-large;
  font-weight: bold;
}

.article-date {
  margin-top: 1em;
}

.article-lead {
  margin-top: 2em;
}

.article-text {
  margin-top: 2em;
}

.article-notes {
  margin-top: 1em;
  color: #999;
}

/*---------------------------------------------------------------------------------
 * Graph
---------------------------------------------------------------------------------*/
#graph-wrapper {
    position: relative;
    width: 100%;
}

#graph-wrapper:before {
    content:"";
    display: block;
    padding-top: 80%;
}

#graph {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
