@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  /* Thanks to: https://sole-color-blog.com/blog/963/ */
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
  letter-spacing: 1px;
  color: #555;
  position: relative;
  box-sizing: border-box;
  outline: none; }

html, body {
  width: 100%;
  height: 100%; }

body {
  transition: all 0.4s; }

body.hasheader {
  padding-top: 36px; }

#cover {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: white;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
  vertical-align: middle;
  line-height: 100%; }

#cover p {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(0, 0, 0, 0.8);
  font-family: Helvetica;
  font-size: small; }

#header {
  z-index: 90;
  position: fixed;
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  font-size: medium;
  display: grid;
  grid-template-columns: 80px 1fr 80px;
  background-image: -moz-linear-gradient(top, #fefefe 0%, #fefefe 50%, #fafafa);
  background-image: -webkit-linear-gradient(top, #fefefe 0%, #fefefe 50%, #fafafa);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2); }

#header a {
  font-size: 16px;
  color: #888;
  text-decoration: none; }

#header.visible {
  height: 36px;
  line-height: 36px; }

.header-left-icon {
  width: 24px;
  height: 24px;
  line-height: 26px;
  text-align: center;
  border-radius: 50%;
  margin: 6px;
  margin-left: 12px;
  border: 2px solid #999; }

.header-left-icon i {
  color: #999;
  font-size: 18px; }

#header a,
.header-left-icon,
.header-left-icon i {
  transition: all 0.2s; }

.header-left-icon:hover {
  border: 2px solid #469; }

.header-left-icon:hover i,
#header a:hover {
  color: #469; }

.header-center {
  color: #888;
  text-align: center; }

.header-right {
  display: grid;
  grid-template-columns: 1fr 72px 8px; }

#social-icons {
  display: grid;
  grid-template-columns: 1fr 1fr; }

.social-icon {
  width: 28px;
  height: 28px;
  margin: 4px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

/* Thanks to: https://www.iconfinder.com/icons/107175/circle_color_facebook_icon */
.social-icon.fb {
  background-image: url("../../assets/img/social_icon_fb.png"); }

/* Thanks to: https://www.iconfinder.com/icons/107170/circle_color_twitter_icon */
.social-icon.tw {
  background-image: url("../../assets/img/social_icon_tw.png"); }

/* Ripple effect (Thanks to: https://qiita.com/nekoneko-wanwan/items/c9f26ce049bd422e555c) */
.ripple {
  overflow: hidden;
  position: relative; }

/* エフェクト要素 */
.ripple_effect {
  width: 200px;
  height: 200px;
  position: absolute;
  border-radius: 100%;
  pointer-events: none;
  transform: scale(0);
  opacity: 0;
  background: #ccc; }

/* classが付与されたらアニメーションを実行 */
.ripple_effect.is-show {
  animation: ripple 0.75s ease-out; }

/* アニメーションの定義 */
@keyframes ripple {
  from {
    opacity: 1; }
  to {
    transform: scale(2);
    opacity: 0; } }

/*# sourceMappingURL=default.css.map */
