/*---------------------------------------------------------------------------------
 * Header
---------------------------------------------------------------------------------*/
.mdl-layout__header {
  box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
}

.mdl-layout__title {
  text-align: center;
  line-height: 56px;
}

/*---------------------------------------------------------------------------------
 * Content
---------------------------------------------------------------------------------*/
.mdl-grid {
  max-width: 1080px;
}

.top-title {
  margin: 20px auto;
  text-align: center;
  font-size: 40px;
  color: #666;
}

/*---------------------------------------------------------------------------------
 * Card
---------------------------------------------------------------------------------*/
.mdl-card__media {
  height: 200px;
}

